.fighter {
  background-color: darkcyan;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px gray;
  width: 105px;
  height: 105px;
  padding: 15px;
  margin: 5px;

}

.fighter Button {
  background-color: white;
  color: black;
}

ul {
  list-style-type: none;
}
